@font-face {
    font-family: 'LINERg';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('fonts/woff2/LINESeedKR-Rg.woff2') format('woff2-variations');
}
@font-face {
    font-family: 'LINEBd';
    font-weight: 45 920;
    font-style: bold;
    font-display: swap;
    src: url('fonts/woff2/LINESeedKR-Bd.woff2') format('woff2-variations');
}
/* 전체설정 */
* {
    font-family: 'LINERg', sans-serif;
    color: #e9e9e9;
    font-size: 14pt;
    background-color: #151515;
}
/* 바디 부분 */
body {
    -webkit-user-select: none; /* 사파리 */
    -moz-user-select: none; /* 파폭 */
    -ms-user-select: none; /* 엣지 */
    user-select: none; /* 크롬 */
    margin: .5rem;

}

img {
    pointer-events: none; /* 이미지 불펌 방지용 */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}
/* 네비게이션 바 관련 */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 7.5%;
        flex-wrap: wrap; /* 항목이 다음 줄로 넘어가도록 허용 */
}
nav .logo {
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #2b2b2b;
}
.main-title {
    opacity: 0.1;
    transition: opacity 0.25s ease-in;
}
.main-title:hover {
    opacity: 1;
}
nav button {
    border: none;
    border-radius: 50px;
    font-size: 14pt;
    padding: 12px 24px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
    white-space: nowrap;
}

nav ul li button:active {
    color: #3b9400;
    background-color: #e9e9e9;
}

nav button:hover {
    background-color: #2b2b2b;
    color: #e9e9e9;
}

/* 메인 관련 */
main {
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 24pt;
    margin: 0 60pt;
    flex-direction: column;
    background-color: transparent;
}

main img {
    margin: 0 auto;
}
main h1 {
    font-family: 'LINEBd', sans-serif;
    font-size: 2.5rem;
}

.boost:hover {
    color: rgb(255, 53, 53);
    font-family: 'LINEBd', sans-serif;
    transition: color 0.3s ease-in;
}

::selection {
    background-color: #2b2b2b;
    color: #e9e9e9;
}

.footer-text {
    font-size: 10pt;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

/* 자기소개 파트 */
.about {
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin: 0 144pt;
    padding: 36pt 24pt;
    flex-direction: column;
    background-color: transparent;
    border: #e9e9e9 25px solid;
    border-radius: 50px;
}
.about-intro {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;
    padding: auto 12pt;
    margin: 24pt 0pt;
    object-fit: cover;
    background-color: transparent;
}
.background-image {
    position: relative;
    width: 240px;
    height: 240px;
}
.background-image img {
    position: relative;
    margin: 0 0 0 72pt;
    width: 90%;
    padding: 0 auto;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}
/* 출처: https://memostack.tistory.com/260 [memostack:티스토리] */

/* 자기소개 텍스트 */
.about-text {
    position: relative;
    transform: translate(50, 50);
    padding: 0 auto;
    margin: -12pt 72pt;
    background-color: transparent;
}

/* 공모전, 자격증, 수상 관련 */
.about-award {
    position: relative;
    transform: translate(50, 50);
    background-color: transparent;
    margin: -36pt 0pt 24pt 0pt;
    padding: 0 72pt;
    border-bottom: 5px solid #e9e9e9;
    /* 갭 줄이기용 마진값 */
}
.about-award .award1,.award2,.award3 {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: left;
    flex-direction: row;
    margin: auto;
    padding: auto;
    object-fit: cover;
    background-color: transparent;
    border-bottom: 1px solid #e9e9e9;
}
.about-award .award4 {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: left;
    flex-direction: row;
    margin: auto;
    padding: auto;
    object-fit: cover;
    background-color: transparent;
}
/* 학력 관련 */
.about-education {
    position: relative;
    transform: translate(50, 50);
    background-color: transparent;
    margin: 12pt 0pt 12pt 0;
    padding: 0 72pt;
}

.about-education .education1,.education2 {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: left;
    flex-direction: row;
    margin: auto;
    padding: auto;
    object-fit: cover;
    background-color: transparent;
}
.about-education .education1 {
    border-bottom: 1px solid #e9e9e9;
}
